body{
	background: url(../img/background.png) no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
       height: 100%;	
	margin:0;
       padding:0;
	font-family: Tahoma, sans-serif;
}

html{
	height: 100%;
}

.menu_fon{
	display: flex;
	justify-content: flex-end;
	background-image: url(../img/menu_fon.png);
	margin: 0 auto;
	width: 100%;
	height: 34px;
	padding-right: 15px;
	padding-bottom: 0;
	box-sizing: border-box;
}

.menu {
	height: 33px;
	margin: 0;
	line-height: 30px;
}

.menu li{
	display: inline-block;
	float-right;
	font-size: 14px;
	height: 33px;
	box-sizing: border-box;
	width: 100px;
	text-align: center;
}

.menu a{
	text-decoration: none;
	color: #60b5ed;

}

.menu li:hover{
	font-weight: bolder;
	background-color: #4eabda;
}

.menu a:hover{
	color: #fff;
}

.line{
	display: block;
	float: right;
}

.Ofertas{
	height: 33px;
	width: 160px;
	padding: 0 20px;
	line-height: 7px;
	box-sizing: border-box;
}

.Ofertas > img{
       vertical-align: middle;
}

.Ofertas > p{
	vertical-align: middle;
	display: inline-block;
}

.Ofertas p{
	font-size: 14px;
	color: #fff;
}

.Ola{
	background: linear-gradient(to top, #2f7bc5, #8ccceb);
	width: 200px;
	height: 33px;
}

.Ola p{
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-top: 5px;
}

.Ola span{
	border-bottom: 2px solid #aec7e5;
}

.form{
	width: 560px;
	height: 637px;
	margin: 200px auto;
}

.form_up{
	height: 60px;
	background-color: rgba(0, 0, 0, 0.7); 
	line-height: 60px;
}

.form_up p{
	text-align: center;
	font-size: 24px;
	color: #fff;
}

.form_down{
	height: 575px;
	background-color: rgba(0, 0, 0, 0.7); 
	margin-top: 2px;
	padding-top: 35px;
	box-sizing: border-box;
}

.facebook{
	width:285px;
	height: 38px;
	background-color: #354d8b;
	border-radius: 5px;
	border: none;
	border-top: 1px solid #7789b9;
	color: #fff;
	font-size: 17px;
	font-weight: bolder;   
	line-height: 100%;
	margin-bottom: 20px;
}

.facebook > span .with{
	font-weight: lighter;
}

.facebook:before{
	content: 'f';
	font-size: 24px;
	font-weight: bold;
	border-right: 1px solid #223c77;
	float: left;
       padding: 0 13px 0 10px;}

form{
	width: 300px;
	margin: 0 auto;
}

.first_line, .second_line {
	display: inline-block; 
	vertical-align: middle;
	width: 115px;
}

.ou{
	display: inline-block; 
	vertical-align: middle;
	color: #838483;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0 10px;
}

[type="text"], [type="password"], [type="email"] {
	width: 270px;
	height: 33px;
	background-color: #000;
	border: none;
	border-bottom: 1px solid #484948;
	margin-top: 23px;
	padding-left: 15px;
	font-size: 14px;
}

input:focus {
	background-color: #1b5288;
	box-shadow: 0 0 5px 3px #538db6;
}

.checkbox{
	margin-top: 15px;
	color: #bdbdbc;
	font-size: 14px;
}

.account{
	width: 150px;
	margin: 0 auto;
	padding-top: 16px;
}

.account > button{
	height: 38px;
	background: linear-gradient(to top, #2e7ac4, #4ca9d9);
	border: none;
	color: #fff;
	font-size: 15px;
}

.text_down{
	font-size: 11px;
	color: #bdbdbc; 
	text-align: center;
	margin-bottom:15px;
	margin-top: 15px;
}



