body{
	margin:0;
	padding: 30px;
}

table{
	margin: 0 auto;
	border-collapse: collapse;
}

.one{
	border-top: none;
	border-left: none;
}

.two{
	border-top: none;
}

.three{
	border-top: none;
	border-right: none;
}

.four{
	border-left: none;
}

.five{
	border-right: none;
	background-color: yellow;
}

.six{
	border-left: none;
}

.seven{
	border-right: none;
}

.eight{
	border-right: none;
}

.nine{
	border-left: none;
	border-bottom: none;
	background-color: yellow;
}

.ten{
	border-right: none;
	background-color: blue;
}

.eleven{
	border-bottom: none;
}

.twelve{
	border-bottom: none;
	border-right: none;
}

tr{
	height: 100px;
	border: 12px solid black;
}

td{
	width: 100px;
	border: 12px solid black;
}
.red{
	background-color: red;
}

.gray{
	background-color: gray;
}

